.filter{
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: auto;
    width: 700px;
}
.filter-title{
    font-size:18px ;
    margin-left: 20px;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.filter-object {
  width: 230px !important;
  //margin-bottom: 10px !important;
}
.filter-object-select {
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
