$color-pink: #ed078b;

.footer {
    background-color: #4255a4;
    padding: 80px 0 40px;
    color: #fff;
    font-size: 1.6em;
    .footer-caption {
        .list-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .item {
                font-size: 1.6em;
                color: #fff;
                .item-icon {
                    color: #fff;
                    font-size: 1.2em;
                    padding-right: 12px;
                    transition: 0.3s ease;
                }
                &:hover .item-icon {
                    color: $color-pink;
                }
            }
        }
        img {
            padding-bottom: 24px;
        }
        .content {
            line-height: 1.6em;
            margin-bottom: 3em;
        }
        h4 {
            font-size: 2em;
            padding-bottom: 24px;
        }
        ul li {
            margin-bottom: 1em;
        }
    }
}